div.modal {
  background: rgba(56, 56, 56, 0.718);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .tab {
    $tab-h: 120px;

    width: 300px;
    height: $tab-h;
    background-color: white;
    margin: auto;
    margin-top: calc(50vh - ($tab-h / 2));
    border-radius: 5px;
    text-align: right;

    .modal-close-btn {
      padding: 10px;
      display: inline-block;
      cursor: pointer;
      svg {
        font-weight: 900;
        font-size: 17px;
        path {
          stroke: red;
        }
      }
    }

    .modal-display {
      text-align: center;
      margin-top: 15px;
    }
  }
}

.modal-closed {
  display: none;
}
